{% extends "blogwebsite/header.html" %}

{% block content %}
<!-- Page Header -->
	{% load staticfiles %}
    <header class="masthead" style="background-image: url({% static '/img/about-bg.jpg' %})">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>About Me</h1>
              <span class="subheading">Algorithms, Software engineering, Deep learning enthusiast </span>
            
            </div>
          </div>
        </div>
      </div>
    </header>

	<div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        	<h2 class="section-heading">ABOUT ME</h2>

        <p>I am a Computer Science student with a passion for solving complicated problems in a great time complexity. Especially in the problem where efficiency of algorithms play a big role, I love to understand and research for better time complexity.</p> 
		    <p>Also, I have worked on several websites as this blog and my computer science club's website and Ruby on Rails Rotten Tomatoes website where I learned TDD, BDD, Agile development.Now, I appreciate designs and efficiency of the code and love beautiful codes with a great test coverage.</p>
        <h2 class="section-heading">EDUCATION</h2>
        <h3 class="subheading">COURSE LOAD</h3>
        <ul>
          <li>CS 2255 Computer Science 2</li>
          <li>CS 3310 Foundations of Computer Science</li>
          <li>CS 3323 Data Structures</li>
          <li>CS 3331 Fundametals of Artificial Intelligence</li>
          <li>CS 3360 Object Oriented Programming</li>
          <li>CS 3365 Introduction to Computer Organization and Architecture</li>
          <li>CS 3372 Formal Languages and the Theory of Computation</li>
          <li>CS 3375 Foundations of Networking</li>
          
        </ul>
        <h3 class="subheading">Extra Course works</h3>
        <ul>
        <li>Software Engineering at University of Berkeley</li>
        <li>MongoDB For developers</li>
        <li>Algorithms</li>
        </ul>
        <h2 class="section-heading">CLUB</h2>
		    <p>I am also a president of University's Machine learning club named, Kaggler as the university lacked infrastructure to join a research with graduate students for undergraduate students. Now, the club includes 3 professors on campus and 20 students since we started. My team, not club, have participated in 3 hackathons, but failed to get awards.</p>
		    <p>These all say that I always worked to solve problems by constantly questioning what aspects I lack.</p>
        </div>
      </div>
    </div>
{% endblock %}
